<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Login.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Custom/Custom Palette #2</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="Basic">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="240,240,240" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="Gainsboro" />
                <SvgColor Name="Paint Deep Shadow" Value="210,210,210" />
                <SvgColor Name="Brush" Value="40,40,40" />
                <SvgColor Name="Brush High" Value="40,40,40" />
                <SvgColor Name="Brush Light" Value="120,120,120" />
                <SvgColor Name="Brush Major" Value="160,160,160" />
                <SvgColor Name="Brush Minor" Value="200,200,200" />
                <SvgColor Name="Accent Paint" Value="252,120,105" />
                <SvgColor Name="Accent Paint Dark" Value="112,48,160" />
                <SvgColor Name="Accent Paint Light" Value="206,221,245" />
                <SvgColor Name="Accent Paint Lighter" Value="252,120,105" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="165,186,217" />
                <SvgColor Name="Red" Value="208,49,68" />
                <SvgColor Name="Green" Value="56,152,83" />
                <SvgColor Name="Blue" Value="252,120,105" />
                <SvgColor Name="Yellow" Value="241,151,63" />
                <SvgColor Name="Black" Value="108,109,117" />
                <SvgColor Name="Gray" Value="191,191,194" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
              <SvgPalette Name="Custom Palette #2">
                <SvgColor Name="Paint" Value="240,240,240" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="Gainsboro" />
                <SvgColor Name="Paint Deep Shadow" Value="210,210,210" />
                <SvgColor Name="Brush" Value="40,40,40" />
                <SvgColor Name="Brush High" Value="40,40,40" />
                <SvgColor Name="Brush Light" Value="120,120,120" />
                <SvgColor Name="Brush Major" Value="160,160,160" />
                <SvgColor Name="Brush Minor" Value="200,200,200" />
                <SvgColor Name="Accent Paint" Value="Transparent" />
                <SvgColor Name="Accent Paint Dark" Value="252,120,105" />
                <SvgColor Name="Accent Paint Light" Value="252,120,105" />
                <SvgColor Name="Accent Paint Lighter" Value="252,120,105" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="165,186,217" />
                <SvgColor Name="Red" Value="208,49,68" />
                <SvgColor Name="Green" Value="56,152,83" />
                <SvgColor Name="Blue" Value="78,138,200" />
                <SvgColor Name="Yellow" Value="241,151,63" />
                <SvgColor Name="Black" Value="108,109,117" />
                <SvgColor Name="Gray" Value="191,191,194" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
            </Skin>
            <Skin Name="WXI">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Background 200" Value="White" />
                <SvgColor Name="Background 100" Value="250,250,250" />
                <SvgColor Name="Background 0" Value="244,244,244" />
                <SvgColor Name="Background -100" Value="238,238,238" />
                <SvgColor Name="Background -200" Value="252,120,105" />
                <SvgColor Name="Foreground 100" Value="36,36,36" />
                <SvgColor Name="Foreground 50" Value="156,156,156" />
                <SvgColor Name="Foreground 25" Value="Silver" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Edit Background 0" Value="White" />
                <SvgColor Name="Edit Background -50" Value="244,244,244" />
                <SvgColor Name="Edit Background -100" Value="236,246,255" />
                <SvgColor Name="Edit Background -200" Value="252,120,105" />
                <SvgColor Name="Edit Background -300" Value="230,230,230" />
                <SvgColor Name="Edit Foreground 100" Value="36,36,36" />
                <SvgColor Name="Edit Foreground 50" Value="118,118,118" />
                <SvgColor Name="Edit Foreground 25" Value="Silver" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Line 100" Value="156,156,156" />
                <SvgColor Name="Line 50" Value="208,208,208" />
                <SvgColor Name="Line 25" Value="230,230,230" />
                <SvgColor Name="Line Gradient 100" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#8D8D8D" />
                    <stop offset="10%" stop-color="#E6E6E6" />
                    <stop offset="100%" stop-color="#E6E6E6" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="Line Gradient 50" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#CCCCCC" />
                    <stop offset="10%" stop-color="#E6E6E6" />
                    <stop offset="100%" stop-color="#E6E6E6" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="   " Value="" />
                <SvgColor Name="Primary Background 100" Value="186,224,255" />
                <SvgColor Name="Primary Background 0" Value="0,103,192" />
                <SvgColor Name="Primary Background -100" Value="1,92,170" />
                <SvgColor Name="Primary Background -200" Value="252,120,105" />
                <SvgColor Name="Primary Foreground 100" Value="255,255,255" />
                <SvgColor Name="Primary Foreground 25" Value="109,166,225" />
                <SvgColor Name="     " Value="" />
                <SvgColor Name="Secondary Background 0" Value="0,103,192" />
                <SvgColor Name="Secondary Background -100" Value="1,92,170" />
                <SvgColor Name="Secondary Background -200" Value="252,120,105" />
                <SvgColor Name="Secondary Foreground 100" Value="255,255,255" />
                <SvgColor Name="Secondary Foreground 25" Value="109,166,225" />
                <SvgColor Name="    " Value="" />
                <SvgColor Name="Red" Value="231,72,86" />
                <SvgColor Name="Green" Value="1,133,116" />
                <SvgColor Name="Blue" Value="0,120,212" />
                <SvgColor Name="Yellow" Value="255,140,0" />
                <SvgColor Name="Black" Value="74,84,89" />
                <SvgColor Name="Gray" Value="192,192,192" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
              <SvgPalette Name="Custom Palette #2">
                <SvgColor Name="Background 200" Value="White" />
                <SvgColor Name="Background 100" Value="250,250,250" />
                <SvgColor Name="Background 0" Value="244,244,244" />
                <SvgColor Name="Background -100" Value="238,238,238" />
                <SvgColor Name="Background -200" Value="252,120,105" />
                <SvgColor Name="Foreground 100" Value="36,36,36" />
                <SvgColor Name="Foreground 50" Value="156,156,156" />
                <SvgColor Name="Foreground 25" Value="Silver" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Edit Background 0" Value="255,255,255" />
                <SvgColor Name="Edit Background -50" Value="244,244,244" />
                <SvgColor Name="Edit Background -100" Value="236,246,255" />
                <SvgColor Name="Edit Background -200" Value="227,242,254" />
                <SvgColor Name="Edit Background -300" Value="230,230,230" />
                <SvgColor Name="Edit Foreground 100" Value="36,36,36" />
                <SvgColor Name="Edit Foreground 50" Value="118,118,118" />
                <SvgColor Name="Edit Foreground 25" Value="Silver" />
                <SvgColor Name=" " Value="" />
                <SvgColor Name="Line 100" Value="156,156,156" />
                <SvgColor Name="Line 50" Value="208,208,208" />
                <SvgColor Name="Line 25" Value="230,230,230" />
                <SvgColor Name="Line Gradient 100" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#8D8D8D" />
                    <stop offset="10%" stop-color="#E6E6E6" />
                    <stop offset="100%" stop-color="#E6E6E6" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="Line Gradient 50" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#CCCCCC" />
                    <stop offset="10%" stop-color="#E6E6E6" />
                    <stop offset="100%" stop-color="#E6E6E6" />
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="   " Value="" />
                <SvgColor Name="Primary Background 100" Value="186,224,255" />
                <SvgColor Name="Primary Background 0" Value="0,103,192" />
                <SvgColor Name="Primary Background -100" Value="1,92,170" />
                <SvgColor Name="Primary Background -200" Value="252,120,105" />
                <SvgColor Name="Primary Foreground 100" Value="255,255,255" />
                <SvgColor Name="Primary Foreground 25" Value="109,166,225" />
                <SvgColor Name="     " Value="" />
                <SvgColor Name="Secondary Background 0" Value="0,103,192" />
                <SvgColor Name="Secondary Background -100" Value="1,92,170" />
                <SvgColor Name="Secondary Background -200" Value="252,120,105" />
                <SvgColor Name="Secondary Foreground 100" Value="255,255,255" />
                <SvgColor Name="Secondary Foreground 25" Value="109,166,225" />
                <SvgColor Name="    " Value="" />
                <SvgColor Name="Red" Value="231,72,86" />
                <SvgColor Name="Green" Value="1,133,116" />
                <SvgColor Name="Blue" Value="0,120,212" />
                <SvgColor Name="Yellow" Value="255,140,0" />
                <SvgColor Name="Black" Value="74,84,89" />
                <SvgColor Name="Gray" Value="192,192,192" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
            </Skin>
            <Skin Name="The Bezier">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="242,242,242" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="222,222,222" />
                <SvgColor Name="Paint Deep Shadow" Value="212,212,212" />
                <SvgColor Name="Brush" Value="80,80,80" />
                <SvgColor Name="Brush (addl)" Value="80,80,80" />
                <SvgColor Name="Brush Light" Value="150,150,150" />
                <SvgColor Name="Brush High" Value="60,60,60" />
                <SvgColor Name="Brush Major" Value="180,180,180" />
                <SvgColor Name="Brush Minor" Value="210,210,210" />
                <SvgColor Name="Accent Paint" Value="23,107,209" />
                <SvgColor Name="Accent Paint Light" Value="252,120,105" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="122,175,235" />
                <SvgColor Name="Key Paint" Value="71,71,71" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="150,150,150" />
                <SvgColor Name="Red" Value="226,54,66" />
                <SvgColor Name="Green" Value="60,146,92" />
                <SvgColor Name="Blue" Value="58,116,194" />
                <SvgColor Name="Yellow" Value="252,169,10" />
                <SvgColor Name="Black" Value="122,122,122" />
                <SvgColor Name="Gray" Value="190,190,190" />
                <SvgColor Name="White" Value="255,255,255" />
                <SvgColor Name="altRed" Value="226,54,66" />
                <SvgColor Name="altGreen" Value="60,146,92" />
                <SvgColor Name="altBlue" Value="58,116,194" />
                <SvgColor Name="altYellow" Value="252,169,10" />
                <SvgColor Name="altBlack" Value="122,122,122" />
                <SvgColor Name="altGray" Value="190,190,190" />
                <SvgColor Name="altWhite" Value="White" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Login.Properties.Settings>
      <setting name="CurrentTeacherSchoolID" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentStudentEmail" serializeAs="String">
        <value />
      </setting>
    </Login.Properties.Settings>
  </userSettings>
</configuration>